Screen {
    align: center middle;
}

#container {
    width: 80;
    height: auto;
    border: round white;
    padding: 1 2;
}

#title {
    text-align: center;
    text-style: bold;
    margin-bottom: 1;
}

#input_row {
    height: auto;
    margin-bottom: 1;
}

#percent_input {
    width: 12;
}

Select {
    width: 1fr;
}

#ns_label {
    margin-top: 1;
}

#os_label {
    margin-top: 1;
}

RankBar {
    height: 2;
    width: 100%;
    margin-top: 1;
}